<section class="flex flex-col gap-y-10">
    <section class="bg-gradient-to-b from-purple-500 to-pink-600 p-10 flex glex-col w-full h-full">
        <div class="w-96 p-6 flex flex-col bg-gradient-to-b from-purple-600 to-pink-600 rounded-md m-auto gap-y-6" style="min-height:30rem">
            <h1>Login</h1>
            <input class=" px-2 h-8 w-full" type="text" placeholder="Username">
            <input class=" px-2 h-8 w-full" type="password" placeholder="Password">
        </div>
    </section>
</section>